.discoverMetaverse-section {
    background: url(../../images/fight-bg.png),#210036;
    background-size: cover;
    background-position: top center;
    color: #fff;
}

.discoverMetaverse-section li .bold-text {
    font-weight: 700;
}

@media (max-width: 700px) {
    .row .side-text {
        order: 2
    }

    .row .side-image img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: 30%;
    }
}