.discoverMetaverse-section {
    background: url(../../images/fight-bg.png),#210036;
    background-size: cover;
    background-position: top center;
    color: #fff;
}

.discoverMetaverse-section li .bold-text {
    font-weight: 700;
}