.buy-delta-section {
    background: url(../../images/parabg.png),#210036;
    color: #fff;
    background-size: cover;
}

/* .buy-section {
    background: url(../../images/parabg.png);
    background-size: cover;
} */

.text-warning {
    color: #BE8F14 !important;
}

.buy-section a {
    text-decoration: none;
}