.meta-holder {
    background: url(../../images/parabg.png),#210036;
    color: #fff;
    background-size: cover;
    overflow-x: hidden;
}

.meta-section {
    /* background: #27073B; */
    /* box-shadow: 8px 10px 0px rgba(33, 0, 54, 0.25); */
    /* border-radius: 6px; */
    color: #fff;
    padding: 70px 0 50px 0;
}

.meta-cards {
    width: 70%;
    margin: 0 auto;
}

.meta-card {
    width: 45%;
}

@media (max-width: 900px) {
    .meta-cards {
        width: 100%;
    }

    .meta-card {
        width: 45%;
    }
}

@media (max-width: 426px) {
        .meta-cards {
            width: 100%;
        }

        .meta-card {
            width: 90%;
        }
}