.main-navbar {
    background: #210036 !important;
}

.main-navbar a {
    color: #fff !important;
}

.navbar-toggler:focus {
    border: none !important;
    color: transparent !important;
    background: transparent !important;
}