.hero-section {
    background: url(../images/hero-bg.png),#210036;
    min-height: 70vh;
    background-size: cover;
    background-position: top center;
    padding-top: 100px;
}

.welcome-section {
    margin-top: 200px;
    color: #fff;
}

.welcome-section h1 {
    font-size: 48px;
    font-weight: 700;
}

.welcome-section h5 {
    font-size: 22px;
    font-weight: 500;
}

.welcome-section button {
    font-weight: 700;
}

@media(max-width: 760px) {
    .welcome-section {
        margin-top: -100px;
    }
}