.minting-section {
    min-height: 100vh;
    background: url(../../images/nft-items/coming-soon/nft-bg.png), #210036;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    margin-top: 90px;
}

.minting-section .text-section {
    display: flex;
    align-items: center;
    color: #fff;
    height: 75vh;
}

.minting-section .text-section h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}

.minting-section .counter-section {
    text-align: center;
    padding-top: 100px;
    background: transparent;
}

.minting-section .counter-section h5 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 24px;
}

.minting-section .counter-section p {
    font-size: 14px;
}

.counter-section .red-circle {
    background: url(../../images/nft-items/coming-soon/red-circle.png) no-repeat;
    background-size: contain;
    object-fit: contain;
    height: 160px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-section .yellow-circle {
    background: url(../../images/nft-items/coming-soon/yelow-circle.png) no-repeat;
    background-size: contain;
    object-fit: cover;
    height: 160px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-section .green-circle {
    background: url(../../images/nft-items/coming-soon/green-circle.png) no-repeat;
    background-size: contain;
    object-fit: cover;
    height: 160px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-section .purple-circle {
    background: url(../../images/nft-items/coming-soon/purple-circle.png) no-repeat;
    background-size: contain;
    object-fit: cover;
    height: 160px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) {

    .minting-section .text-section {
        height: 400px;
    }

    .minting-section .counter-section {
        text-align: center;
        padding-top: 40px;
    }
}

@media (max-width: 426px) {
    .minting-section .text-section {
        height: 200px;
    }
}